.HomeFeat1{
    /* width: 100%; */
    padding: 5%;
    height: 100vh;
    background-color: #f9fafc;
    overflow: hidden;
}
.HomeFeat1Subhead{
    color:#365a66;
    font-size: 1.5em;
}
.HomeFeat1Head{
    color:#040404;
    font-size: 3em;
}
.FeatImage{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.FeatImg{
    width: 31%;
    border-radius: 10px;
}
