.GlobeHead {
    margin-top: 4%;
    position: relative;
    overflow: hidden; 
    width: 100%;
    height: 100vh; 
}

.Globe {
    position: absolute;
    left: -20%; 
    top: 50%; 
    transform: translateY(-50%); 
}

.GlobeSvg {
    width: 150%; 
    height: auto;
}

.GlobeText {
    position: absolute;
    top: 10%;
    left: 44%;
}

.GlobeHeadTitle {
    font-size: 3vw;
    font-weight: 800;
    padding-right: 20%;
}

.GlobalHighlight {
    background: linear-gradient(90deg, #e53e8f2e 0%, #683ab735 100%);
}

.GlobePointers {
    display: flex;
    gap: 10%;
    width: 100%;
}

.GlobeTextFirst, .GlobeTextSecond {
    display: flex;
    flex-direction: column;
    width: 35%; 
}
.GlobePoint {
    display: flex;
    margin-top: 20%;
    gap:5%; 
}
.GlobalLineMarker{
    width: 4.5px;
    height: 100%;
    background: #06e2b9;
    border-radius: 5px;
}


.GlobePointHead {
    font-size: 3vw;
    font-weight: 800;
}

.GlobePointSubHead {
    font-size: 1.2vw;
    padding-top: 3%;
}


