.navbar{
    background-color: #fcfcfce4;
    inset: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    height: fit-content;
    z-index: 1000;
}
.navbar_menu{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_logo{
    padding-left:60px;
    font-size: 2.8vw;
    font-weight: 800;
}
.navbar_Login {
    display: flex;
    gap: 10px; 
    padding-right: 60px;
  }
  
  .navbar_loginButton, .navbar_signupButton {
    padding: 10px 20px; 
    border-radius: 22px; 
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-size: 200% 100%;
    transition: transform backgound 0.4s ease-in-out;
    font-size: 18px;
  }
  
  .navbar_loginButton {
    background: linear-gradient(271deg, #E53E8E 0%, #673AB7 100%);
  }
  
  .navbar_signupButton {
    background: linear-gradient(271deg, #0c0c0c 0%, #474747 100%);
  }
  
.navbar_loginButton:hover{
    transform: scale(0.98);
    background: linear-gradient(271deg, #c03176 0%, #562f97 100%);;
}
.navbar_signupButton:hover {
    transform: scale(0.98);
    background: linear-gradient(271deg, #2d2d2d 0%, #646464 100%);
}

.navbar_menuItem{
    font-size: 0.9vw;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: quicksand, Sans-serif;
    color: #1a1a1a;
    cursor: pointer;
    transition: all 0.2s ease;
}
.navbar_menuItem:hover{
    color: #673AB7;
}
  

